.gb-container {
    display: flex;
    margin: 15px auto;
    width: 95%;
    height: 82vh;
    background: #F3F3F3;
    border: 3px solid #898A8D;
    border-radius: 8px;
    box-sizing: border-box;
}


.gb-sub {
    width: 213px;
    flex-shrink: 0;
    border-right: 3px solid #898A8D;
    padding: 19px 10px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
}

.gb-main {
    flex-grow: 1;
    box-sizing: border-box;
    overflow-y: auto;
}