.gb-container {
    display: flex;
    margin: 15px auto;
    width: 95%;
    height: 600px;
    /* height: 100%; */
    background: #F3F3F3;
    border: 3px solid #898A8D;
    border-radius: 8px;
    box-sizing: border-box;
}


.gb-sub {
    width: 285px;
    flex-shrink: 0;
    border-right: 3px solid #898A8D;
    padding: 20px 10px;
    box-sizing: border-box;
}

.gb-main {
    flex-grow: 1; /* 남은 모든 공간 차지 */
    box-sizing: border-box;
    overflow-y: auto; /* 내부 스크롤 */
}