.sub-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 15px 0;
    color: #3F424C;
    background-color: #ffffff;
    border-radius: 8px;
}

.gb-sub {
    padding: 0;
}
.sub-line {
    width: 100%;
    height: 2px;
    background-color: #898A8D;
}

.top-menu {
    display: flex;
    gap: 20px;
    margin-top: 28px;
    margin-left: 30px;
}

.menu-btn {
    padding: 6px 30px;
    border-radius: 45px;
    border: none;
    background-color: #9EC1F4;
    color: white;

    font-size: clamp(16px, 2.5vw, 24px);

    cursor: pointer;
}

.menu-btn.active {
    background-color: #2E4298;
}