.allLec-container {
    height: 100%;
    width: 100%;
}

.allLec-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
}

.allLec-table tbody tr {
    height: calc(100% / 12);
}

.allLec-table thead th {
    background-color: #F7F8FD;
    font-size: 23px;
    font-weight: bold;
    padding: 10px 10px;
    border-right: 1px solid #898A8D;
    box-shadow: inset 0 -2px 0 #898A8D; /* border-bottom 대신 가짜 테두리 */

    /* th를 상단에 고정 */
    position: sticky;
    top: 0;
    z-index: 10;
}

.allLec-table thead th:last-child,
.allLec-table tbody td:last-child {
    border-right: none;
}

.allLec-table tbody td {
    padding: 11px 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #D1D1D1;
    border-right: 1px solid #D1D1D1;
    color: #444;
}


button {
    color: white;
    border: none;
    width: 75px;
    height: 22px;
}

.regi {
    background: #60BDFF;
    cursor: pointer;
}

.regi.done {
  background: #3A66E6;
}

.cancel{
    background: #FF3639;
    cursor: pointer;
}
