.container-main {
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 30px;
}

.left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    border: 1px solid #898A8D;
    border-radius:8px;
    padding: 20px;
    background-color: #ffffff;
}

.lecture-card,
.notice-card {
    flex: 1;
    height: auto;
}

.profile-avatar img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.btn-icon-plus svg {
    display: block;
}

.profile-card {
    background: #F7F8FD;
    border-radius:8px;
}

.profile-layout {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-height: 100px;
    position: relative;
}

.info-text-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.profile-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #0B0D0F;
}

.profile-line {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.profile-line span {
    white-space: nowrap;
}

.profile-line:first-child {
    gap: 20px;
}

.profile-line:last-child {
    gap: 40px;
}

.btn-check-info {
    position: absolute;
    padding: 6px 12px;
    right: 20px;
    top: 50%; 
    transform: translateY(-50%);
    background-color: #407FDE;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    white-space: nowrap; 
    margin-left: auto; 
}

.timetable-card {
    flex: 2;
    min-height: 400px;
}

.card-title,
.card-header span{
    font-weight: 700;
    font-size: clamp(22px, 1vw, 30px);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -15px;
}

.card-title {
    margin-bottom: 15px;
}

.plus-btn {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.timetable {
    width: 100%;
    border: 3px solid #898A8D;
    border-collapse: collapse;
    text-align: center;
    font-size: 12px;
}

.timetable th,
.timetable td {
    border: 1px solid #898A8D;
    width: 50px;
    height: 40px;
}

.timetable th {
    background-color: #F3F3F3;
    font-weight: bold;
}

.timetable td:first-child {
    background-color: #F3F3F3;
    font-weight: bold;
}

#lecture-list {
    padding-left: 30px;
    color: #464A58;
    font-size: clamp(24px, 1.2vw, 30px);
}

.lecture-item {
    cursor: pointer;
}

.lecture-item:hover {
    background-color: #F7F8FD;
}

@media (max-width: 1200px) {
    
    .profile-layout {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-info {
        width: 100%;
    }

    .profile-line {
        flex-direction: column;
        gap: 5px;
    }

    .btn-check-info {
        position: static;
        transform: none;
        margin-top: 10px;
    }
}