<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학생 수강 사이드메뉴</title>
    <link rel="stylesheet" href="/src/css/ui/module/graybox.css">
    <link rel="stylesheet" href="/src/css/ui/module/classSideMenu.css">
</head>
<body>
    <div class="gb-container">
        <div class="gb-sub">

            <div class="sub-title">수강신청</div>
            <div class="sub-line"></div>
            <ul class="inner-menu">
                <li><a href="">내 바구니</a></li>
                <li><a href="">수강신청</a></li>
                <li><a href="">수강취소</a></li>
            </ul>

            <div class="sub-line"></div>

            <div class="sub-title">수강 바구니</div>
            <div class="sub-line"></div>
            <ul class="inner-menu">
                <li><a href="">수강 바구니 담기</a></li>
                <li><a href="">수강 바구니 취소</a></li>
            </ul>
        </div>
    </div>


</body>
</html>