<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 수강학생 레이아웃</title>
    <link rel="stylesheet" href="/src/css/ui/module/graybox.css">
    <link rel="stylesheet" href="/src/css/ui/module/mypage.css">
</head>
<body>
    <div class="gb-container">
        <div class="gb-sub">

            <div class="sub-title">나의 강의 목록</div>
            <div class="sub-line"></div>
        </div>

        <div class="gb-main">
            <div class="top-menu">
                <button class="menu-btn">공지사항</button>
                <button class="menu-btn">수강 학생</button>
            </div>

            <div id="page-content"></div>
        </div>
    </div>


</body>
</html>